/* BOX SIZING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* FONT SMOOTHING */
* {
    -webkit-font-smoothing: antialiased;
}

/* BODY */
body {
    margin: 0;
    background-color: #98A67B;
}

/* NAVIGATION */
nav {
    position: fixed;
    width: 100vw;
    padding: 10px 20px;
    background-color: #98A67B;
    display: flex;
    justify-content: space-between;
}

h1, .menu {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    color: #222;
    letter-spacing: 3px;
}

.menu {
    text-transform: uppercase;
}

/* HERO */
header {
    padding: 0 20px;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 28px;
    font-weight: 700;
    color: #eee;
}

h3 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    letter-spacing: 2px;
}

p {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    color: #eee;
}

/* MAIN */
section {
    height: 100vh;
    padding: 40px 20px;
}

.card {
    height: 100%;
    margin: 0 0 20px 0;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #eee;
}


/* FOOTER */
footer {
    padding: 10px 20px;
    background-color: #222;
}

.copyright {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    color: #eee;
}