/* BOX SIZING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* FONT SMOOTHING */
* {
    -webkit-font-smoothing: antialiased;
}

/* BODY */
body {
    margin: 0;
}

/* NAVIGATION */
nav {
    height: 7vh;
    padding-left: 20px;
    background-color: #98A67B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home, menu {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    letter-spacing: 3px;
}

menu {
    text-transform: uppercase;
}

/* HERO */
header {
    background-color: #98A67B;
    padding: 0 20px;
    height: 93vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
    font-weight: 700;
    color: #eee;
}

h3 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    letter-spacing: 2px;
}

p {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    color: #eee;
}

/* MAIN */
section {
    height: 95vh;
    padding: 40px 20px;
}

.social-media {
    background-color: #627b82;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.card {
    height: 100%;
    margin: 0 0 20px 0;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #eee;
}

/* SOCIAL MEDIA */
.list-reset {
    list-style: none;
    padding: 0;
    display: flex;
}

.link-reset li a {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    color: #eee;
}

.link-reset li a:hover {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    color: #ff6700;
}

.social-media ul li a {
    text-decoration: none;
}

/* FOOTER */
footer {
    height: 5vh;
    padding-left: 20px;
    background-color: #222;
    display: flex;
    align-items: center;
}

.copyright {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    color: #eee;
}