@media (min-width: 280px) {
    /* NAVIGATION & FOOTER */
    .peek-a-boo {
        display: none;
    }

    /* SOCIAL */
    .h3--landing {
        width: 100%;
    }

    /* FOOTER */
    .footer {
        height: 40px;
        background-color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        font-family: Courier, monospace;
        font-size: 12px;
        color: #eee;
    }
}
