@media (min-width: 768px) {
    .peek-a-boo {
        display: inline;
    }

    .section--cases {
        width: 675px;
        margin: 0 auto;
    }

    /* SOCIAL */
    /*.h3--landing {
        width: auto;
    }*/

    .footer {
        height: 40px;
        /*padding-left: 20px;*/
        background-color: #222;
        /*display: flex;*/
        /*justify-content: normal;
        align-items: center;*/
    }

    .copyright {
        font-family: Courier, monospace;
        font-size: 15px;
        color: #eee;
    }
}
