@media (min-width: 768px) {
    .peek-a-boo {
        display: inline;
    }

    .section--cases {
        width: 675px;
        margin: 0 auto;
    }

    /* SOCIAL */
    .footer {
        height: 40px;
        background-color: #222;
    }

    .copyright {
        font-family: Courier, monospace;
        font-size: 15px;
        color: #eee;
    }
}
